.icon{
  display: inline-block; vertical-align: middle;
  height: auto !important;
  margin-right: .2em; margin-left: .2em;
}





/*------------------------------------*\
    #SIZES
\*------------------------------------*/

.icon--iconed{ width: 30px !important; }
.icon--iconed--mini{ width: 20px !important; }
.icon--feature{ width: 70px !important; }
.icon--logo{
	width: 150px; height: auto;

	@media (min-width: @screen-md-min){
		width: 200px;
	}
}






/*------------------------------------*\
  #COLOR
\*------------------------------------*/

/**
 * Fill
**/
.icon--fill path,
.icon--fill line,
.icon--fill circle,
.icon--fill ellipse,
.icon--fill polyline,
.icon--fill polygon{ fill: currentColor; }

/**
 * Stroke
**/
.icon--stroke{ stroke-width: 0.7; }

.icon--stroke path,
.icon--stroke line,
.icon--stroke circle,
.icon--stroke ellipse,
.icon--stroke polyline,
.icon--stroke polygon{ stroke: currentColor; }