//
// Utility classes
// --------------------------------------------------
.bg-gradient{
  background:linear-gradient( @primary, @secondary );
}


// Backgrounds
// -------------------------
.bg-color__screen{
  background-color: @primary;
}
.bg-tertiary{
  background-color: @tertiary;
  color: @light;
}

// Colors
// -------------------------
.color-light{ color: @light; }
.color-primary{ color: @primary; }
.color-quaternary{ color: @quaternary }
.color-gray{color: @gray}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}

// underlined
.text-underlined{ text-decoration: underline; }




// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}

// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

//Margin
.no-margin{ margin: 0; }

.margin{ margin: @margin-base; }
.margin--large{ margin: @margin-large; }

.margin-top { margin-top: @margin-base; }
.margin-bottom { margin-bottom: @margin-base; }
.margin-top-bottom--large{ margin: @margin-large 0; }

//Padding
.no-padding{ padding: 0; }

.padding{ padding: @padding-base-vertical @padding-base-horizontal; }
.padding--xl{ padding: @padding-xl-vertical @padding-xl-horizontal; }
.padding--large{ padding: @padding-large-vertical @padding-large-horizontal; }
.padding--small{ padding: @padding-small-vertical @padding-small-horizontal; }
.padding--xs{ padding: @padding-xs-vertical @padding-xs-horizontal; }

.padding-bottom{ padding-bottom: @padding-base-vertical; }

.padding-top-bottom{
  padding-top: @padding-base-vertical; padding-bottom: @padding-base-vertical;
}
.padding-top-bottom--large{
  padding-top: @padding-large-vertical; padding-bottom: @padding-large-vertical;
}

.padding-left-right{
  padding-left: @padding-base-horizontal;
  padding-right: @padding-base-horizontal;
}

.padding-left-right--large{
  padding-left: @padding-large-horizontal;
  padding-right: @padding-large-horizontal;
}

